

@model IEnumerable<TaQNIN1.Models.TaqninMetadata>
@using GridMvc.Html
@{
    ViewBag.Title = "الطلبات الموجوده في المركز الجغرافي";
}




<style>
    .grid-mvc {
        font-size: 14px;
        width: 1400px;
        margin-left: 1500px;
        margin-top: 60px;
    }

        .grid-mvc .grid-wrap table {
            border: 1px solid #7A7777;
        }

            .grid-mvc .grid-wrap table thead {
                background: #238F89;
                color: #fff;
            }

                .grid-mvc .grid-wrap table thead .grid-header .grid-header-title a {
                    color: #fff;
                }

        .grid-mvc .grid-wrap .grid-footer .grid-pager ul {
            margin-top: 10px;
        }

            .grid-mvc .grid-wrap .grid-footer .grid-pager ul li {
                padding: 5px 10px;
                border: 1px solid #eee;
                display: contents;
            }

    .coll1 {
        margin-right: 40px;
    }

    .hidicon {
        margin-right: 1120px;
        color: #2BAF80;
    }

    .adddata {
        background-color: #F4511E;
        color: white;
    }

      table.grid-table .grid-header> .grid-header-title{
            padding:8px 0;
            font-size:16px;
        }
        .grid-mvc {
    font-size: 14px;
    /*width: 1300px;*/
    margin-left: 1500px;
    margin-top: 60px;
    margin-right: -50px;
    /* width: 50%; */
    width: 1000px;
}
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<h2 class="text-center" style="margin-top: 120px; color: #546C66">الطلبات الموجوده فى المركز الجغرافي</h2>
<hr />



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="grrid">

            </div>
        </div>

    </div>
</div>
@Html.Grid(Model).Columns(columns =>
{
 
    columns.Add(m => m.TaqninData.id_no).Titled("رقم الطلب").Css("text-right");
    columns.Add(m => m.TaqninData.income_no).Titled("امر الشغل").Css("text-right");
    columns.Add(m => m.TaqninData.governate).Titled("المحافظه").Css("text-right");
    columns.Add(m => m.TaqninData.name).Titled("اسم مقدم الطلب").Css("text-right").SetWidth("500px");
    columns.Add(m => m.TaqninData.activity).Titled("نوع النشاط").Css("text-right");
    columns.Add(m => m.uploaddate).Titled("تاريخ الطلب").Css("text-right");
   

}).WithPaging(20)
<span style="color:#428BCA;padding-top:-300px;padding-bottom:50px"> Total Count: @ViewBag.count</span>

@*<div style="margin-left:-90px;margin-top:30px;">
    @Html.ActionLink("رجوع", "Officer")
</div>*@
<script>
    $(document).ready(function () {
        $("#search").hide();
    });
    function hidediv() {
        debugger;

        $("#search").hide();
    }
    function showdiv() {
        debugger;

        $("#search").show();
    }

</script>