
@{
    ViewBag.Title = "Officer";
    Layout = "~/Views/Shared/_layout2.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">


<img src="~/img/header1.PNG" style="height: 70px; width:1865px; margin-bottom: 30px;margin-top:100px" />
<div class=" row">
    <div class="col-sm-2 ">


        <a href="@Url.Action("ShapefileUpload", "userhome")" target="_blank">
            <img src="~/img/sh.jpg" style="margin-right:-30px" />
        </a>
    </div>
    <div class="col-sm-2 ">


        <a href="@Url.Action("geographiccenteroverlabs", "userhome")" target="_blank">
            <img src="~/img/13.png" style="margin-right:-15px" />
        </a>
    </div>

    <div class="col-sm-2 ">


        <a href="@Url.Action("geographiccenter", "userhome")" target="_blank">
            <img src="~/img/1.png" style="margin-right:-10px" />
        </a>
    </div>
    <div class="col-sm-2 ">


        <a href="@Url.Action("Variables_center_decision", "userhome")" target="_blank">
            <img src="~/img/2.png" style="margin-right:-5px" />
        </a>
    </div>


    

  

    <div class="col-sm-2 ">


        <a href="@Url.Action("Search", "userhome")" target="_blank">
            <img src="~/img/8.png" style="margin-right:-10px" />
        </a>
    </div>
    <div class="col-sm-2 ">


        <a href="@Url.Action("archive", "userhome")" target="_blank">
            <img src="~/img/10.PNG" style="margin-right:-10px;margin-top:0px" />
        </a>
    </div>

 
    </div>
<div class=" row">
    <div class="col-sm-2 " style="margin-right:-30px;margin-top:5px">


        <a href="@Url.Action("exceldata", "userhome")" target="_blank">
            <img src="~/img/9.png" style="margin-right:-20px" />
        </a>
    </div>
 </div>
    <img src="~/img/bt.PNG" style="height:30px; width:1870px;margin-bottom: 30px;margin-top:20px" />
    <style>
        a:hover {
            text-decoration: none;
            color: #546C66;
        }

        a:active {
            text-decoration: none;
            color: #546C66;
        }
    </style>
