@model IEnumerable<TaQNIN1.Models.TaqninMetadata>
@using GridMvc.Html
@{
    ViewBag.Title = "تأكيد قرار";
}




<style>
    .hiderow {
        display: none;
    }

    .grid-itemscount {
        margin-right: 30px;
    }

    table.grid-table .grid-header > .grid-header-title {
        padding: 10px 0;
        font-size: 18px;
    }

    .grid-mvc {
        font-size: 14px;
        width: 1400px;
        margin-left: 1500px;
        margin-top: 60px;
    }

        .grid-mvc .grid-wrap table {
            border: 1px solid #7A7777;
        }

            .grid-mvc .grid-wrap table thead {
                background: #238F89;
                color: #fff;
            }

                .grid-mvc .grid-wrap table thead .grid-header .grid-header-title a {
                    color: #fff;
                }

        .grid-mvc .grid-wrap .grid-footer .grid-pager ul {
            margin-top: 10px;
        }

            .grid-mvc .grid-wrap .grid-footer .grid-pager ul li {
                padding: 5px 10px;
                border: 1px solid #eee;
                display: contents;
            }

    .coll1 {
        margin-right: 40px;
    }

    .hidicon {
        margin-right: 1120px;
        color: #2BAF80;
    }

    .adddata {
        background-color: #F4511E;
        color: white;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<div class="text-center" style="margin-top: 120px; color: #546C66"></div>
<hr />

<div style="border: 1px solid #EEEEEE; background-color: #F9F9F9; height: 60px; margin-top: 30px; ">
    <input type="button" value="البحث" onclick="showdiv();" style="background-color: #1F9089; color: whitesmoke; margin-top: 10px; margin-right: 20px; " />
    <a href="javascript:hidediv();">
        <i class="fas fa-compress-arrows-alt hidicon" onclick="hidediv();"></i>
    </a>
</div>
<div id="search">

    @using (Html.BeginForm("ReviewerCheck", "userhome", FormMethod.Post))
    {

        <div class="searchdiv" style="border: 1px solid #AAAAAA; background-color: #F5F5F5; margin-top: 30px; height: 350px; ">

            <div class="row">
                <input type="hidden" value="1" name="searchh">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            @Html.DropDownList("governate", (IEnumerable<SelectListItem>)@ViewBag.governamentlst, "None", new { @class = "form-control", style = "margin-top: 10px;margin-right:-20px;" })

                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089; direction: rtl; margin-top: 15px">المحافظه</label>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <input list="income_nos" name="income_no" id="income_no" style="margin-top:10px" class="form-control">
                            <datalist id="income_nos">


                                @foreach (var item in ViewBag.incomelst)
                                {
                                    <option value="@item.Text">@item.Text</option>

                                }

                            </datalist>

                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:15px">امر الشغل</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" style="margin-top: 10px;  border-color: #EEEEEE; " name="id_no" id="id_no" />

                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089; direction: rtl; margin-top: 15px; margin-right: 20px ">رقم الطلب</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            @Html.DropDownList("studentUser", ((IEnumerable<SelectListItem>)@ViewBag.studyUser1), "None", new { @class = "form-control", style = "margin-right:-20px;margin-top: 15px;" })

                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:10px">اسم المستخدم القائم بالدراسه</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            @Html.DropDownList("activity", ((IEnumerable<SelectListItem>)@ViewBag.activity1), "None", new { @class = "form-control", style = "margin-top: 15px;" })
                        </div>

                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:15px">نوع النشاط</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8"> <input type="text" class="form-control" style=" margin-top: 10px; border-color: #EEEEEE; " name="name" id="name" /></div>
                        <div class="col-md-4">
                            <label style="color: #1F9089; direction: rtl;margin-top: 15px; margin-right: 20px">اسم مقدم الطلب</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">


                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8"> @Html.DropDownList("revieweruser", ((IEnumerable<SelectListItem>)@ViewBag.Revieweruser1), "None", new { @class = "form-control", style = "margin-right:-20px;margin-top: 15px;" })</div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:10px">اسم المستخدم المراجع</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="geographic_person_response" id="geographic_person_response" class="form-control" style="margin-top:10px">
                                <option>None</option>
                                <option value="داخل">داخل</option>
                                <option value="خارج">خارج</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:10px">المركز الجغرافي</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="ChangesCenterDescion" id="ChangesCenterDescion" class="form-control">
                                <option>None</option>
                                <option value="مستوفي">مستوفي</option>
                                <option value="غيرمستوفي">غيرمستوفي</option>
                                <option value="غيرمدقق">غيرمدقق</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:10px;margin-right:20px">قرار مركز المتغيرات</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="Delayed" id="Delayed" class="form-control" style="margin-right:-20px">
                                <option>None</option>
                                <option value="مؤجله">الطلبات المؤجله</option>

                            </select>

                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:10px">الطلبات المؤجله</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            @Html.DropDownList("LegalFullfied", ((IEnumerable<SelectListItem>)@ViewBag.LegalFullfied1), "None", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:10px">القانونيه</label>
                        </div>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="tazalom" id="tazalom" class="form-control">
                                <option>None</option>
                                <option value="تظلم">تظلم</option>
                                <option value="لايوجد">لايوجد</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-right:20px;margin-top:10px">التظلم</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="Descion223" id="Descion223" class="form-control" style="margin-top: 10px; margin-right: -20px">
                                <option>None</option>
                                <option value="جزئي">جزئي</option>
                                <option value="كلي">كلي</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:15px">قرار 223</label>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="DescionQM" id="DescionQM" class="form-control" style="margin-top:10px">
                                <option>None</option>
                                <option value="جزئي">جزئي</option>
                                <option value="كلي">كلي</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:15px">قرار ق.م</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="RaiseSurveyors" id="RaiseSurveyors" class="form-control" style="margin-top:10px">
                                <option>None</option>
                                <option value="جزئي">جزئي</option>
                                <option value="كلي">كلي</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:10px;margin-right:20px">رفع مساحي</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="fullfilterms" id="fullfilterms" class="form-control" style="margin-top:10px;margin-right:-20px">
                                <option>None</option>
                                <option value="جزئي">جزئي</option>
                                <option value="كلي">كلي</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:10px">مستوفي للضوابط والشروط كلي/جزئي</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">

                        <div class="col-md-8">
                            @Html.DropDownList("status", ((IEnumerable<SelectListItem>)@ViewBag.Status1), "None", new { @class = "form-control", style = "margin-top:10px" })
                        </div>

                        <div class="col-md-4">
                            <label style="color: #1F9089;direction:rtl;margin-top:10px">حاله الطلب</label>
                        </div>
                    </div>
                </div>

            </div>
            @Html.AntiForgeryToken()
            @Html.ActionLink("حذف البحث", "ResponseDescion", "userhome", new { searchh = 0 }, new { @class = "btn btn-danger serchdiv", style = "margin-right:950px; margin-top:20px;" })

            <input type="submit" value="بحث" class="btn btn-success" style="margin-top:20px" />

        </div>

    }
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="grrid">

            </div>
        </div>

    </div>
</div>
@Html.Grid(Model).Columns(columns =>
{
    columns.Add(m => m.TaqninData.Taqninid).Titled(" المسلسل").Css("text-right");
    columns.Add(m => m.TaqninData.id_no).Filterable(true).Titled("رقم الطلب").Css("text-right");
    columns.Add(m => m.TaqninData.income_no).Filterable(true).Titled("امر الشغل").Css("text-right");
    columns.Add(m => m.TaqninData.governate).Filterable(true).Titled("المحافظه").Css("text-right");
    columns.Add(m => m.TaqninData.name).Filterable(true).Titled("اسم مقدم الطلب").Css("text-right");
    columns.Add(m => m.TaqninData.activity).Filterable(true).Titled("نوع النشاط").Css("text-right");
    columns.Add(m => m.uploaddate).Filterable(true).Titled("تاريخ الطلب").Css("text-right");
    columns.Add(m => m.studentUser).Filterable(true).Titled("اسم المستخدم للدراسه").Css("text-right");
    columns.Add(m => m.ChangesCenterDescion).Filterable(true).Titled("قرار مركز المتغيرات").Css("text-right");
    columns.Add(m => m.geographic_person_response).Filterable(true).Titled("موقف التداخلات ق م").Css("text-right");

    columns.Add(m => m.TaqninData.tazalom).Filterable(true).Titled("التظلم").Css("text-right");
    columns.Add(m => m.LegalFullfied).Filterable(true).Titled("القانونيه").Css("text-right");
    columns.Add(m => m.id).Css("hiderow");
    columns.Add().Encoded(false).Sanitized(false).SetWidth("2%").RenderValueAs(o => Html.ActionLink("اضافه البيانات ", "ReviewerCheckData", "userhome", new { id = o.id }, new { @class = "adddata text-capitalize text-white btn btn-outline-success  ", target = "_blank" }));


}).WithPaging(20).WithGridItemsCount("Total Orders").WithMultipleFilters()

@*<span style="color:#428BCA;padding-top:-300px;padding-bottom:50px"> Total Count: @ViewBag.count</span>*@
@*<div style="margin-left:-90px;margin-top:30px;">
        @Html.ActionLink("رجوع", "Officer")
    </div>*@
<script>
    $(function () {
        debugger;
        var tr = $('.grid-mvc').find('tr');
        tr.bind('click', function (event) {
            var tr = $('.grid-mvc').find('tr');
            tr.bind('click', function (event) {
                debugger;
                var values = '';
                var tds = $(this).find('td');

                var xx = $(this).find(".hiderow").html();
                window.location.href = '@Url.Action("ReviewerCheckData", "userhome")?id=' + xx;

            });
        });
    });

    $(document).ready(function () {
        $("#search").hide();

        $("#id_no").val('@ViewBag.idnoselected');
        $("#income_no").val('@ViewBag.income_noselected');
        $("#income_no option").each(function () {
            debugger;
            if ($(this).text() == '@ViewBag.income_noselected') {
                $(this).attr('selected', 'selected');
            }

        });
        $("#name").val('@ViewBag.nameselected');
        $("#studentUser").val('@ViewBag.studentUserselected');
        $("#responsedate").val('@ViewBag.responsedateselected');
        $("#DescionQM option[value='@ViewBag.DescionQMselected']").attr('selected', 'selected');
        $("#geographic_person_response option[value='@ViewBag.geographic_person_responseselected']").attr('selected', 'selected');
        $("#DescionQM option[value='@ViewBag.DescionQMselected']").attr('selected', 'selected');
        $("#income_no option[value='@ViewBag.income_noselected']").attr('selected', 'selected');
        $("#Descion223 option[value='@ViewBag.Descion223selected']").attr('selected', 'selected');
        $("#tazalom option[value='@ViewBag.tazalomselected']").attr('selected', 'selected');
        $("#fullfilterms option[value='@ViewBag.fullfiltermsselected']").attr('selected', 'selected');
        @*$("#status option[value='@ViewBag.statusselected']").attr('selected', 'selected');*@
        $("#Delayed option[value='@ViewBag.Delayedselected']").attr('selected', 'selected');
        $("#RaiseSurveyors option[value='@ViewBag.RaiseSurveyorsselected']").attr('selected', 'selected');
        $("#activity option[value='@ViewBag.activityselected']").attr('selected', 'selected');
        $("#revieweruser option[value='@ViewBag.revieweruserselected']").attr('selected', 'selected');
        $("#LegalFullfied option[value='@ViewBag.LegalFullfiedselected']").attr('selected', 'selected');
        $("#ChangesCenterDescion option[value='@ViewBag.ChangesCenterDescionselected']").attr('selected', 'selected');
        $("#governate option[value='@ViewBag.governateselected']").attr('selected', 'selected');
        $("#status option").each(function () {
            debugger;
            if ($(this).text() == '@ViewBag.statusselected') {
                $(this).attr('selected', 'selected');
            }


        });

        $("#governate option").each(function () {
            debugger;
            if ($(this).text() == '@ViewBag.governateselected') {
                $(this).attr('selected', 'selected');
            }


        });

        $("#tazalom1 option").each(function () {
            debugger;
            if ($(this).text() == '@ViewBag.tazalomselected') {
                $(this).attr('selected', 'selected');
            }


        });
    });
    function hidediv() {
        debugger;

        $("#search").hide();
    }
    function showdiv() {
        debugger;

        $("#search").show();
    }

</script>