@model TaQNIN1.Models.TaqninMetadata
@{
    ViewBag.Title = "الدراسه";
}
<style>
    .form-control {
        font-size: 20px;
    }

    body {
        font-size: 18px;
    }

    .txtarea {
        font-size: 20px;
    }

    /*input[type="file"] {
        display: none;
    }*/

    /*.custom-file-input {
      color: transparent;
    }
    .custom-file-input::-webkit-file-upload-button {
      visibility: hidden;
    }
    .custom-file-input::before {
      content: 'Select some files';
      color: black;
      display: inline-block;
      background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
      border: 1px solid #999;
      border-radius: 3px;
      padding: 5px 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      text-shadow: 1px 1px #fff;
      font-weight: 700;
      font-size: 10pt;
    }*/

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .custom-file-input:hover::before {
        border-color: black;
    }

    .custom-file-input:active {
        outline: 0;
    }

        .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }

    #ImageBefore {
        display: none;
    }

    .imgbefore {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .ImageBefore {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
    /*.Documents{
      border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;

    }*/
    .txtarea {
        width: 500px;
        margin-right: -150px;
    }

    .tarea {
        width: 400px;
    }

    input[type="radio"]:checked {
        border-color: green;
    }

    .gallerybefore img {
        width: 40px;
        height: 50px;
        padding-right: 10px;
        padding-top: 10px;
        /*margin-right:-20px;*/
        margin-bottom: 20px;
        margin-top: -10px;
    }

    .gallerybefore img {
        /*padding: 50px;*/
        transition: transform .2s; /* Animation */
        /*width: 200px;
      height: 200px;
      margin: 0 auto;*/
    }

    .ifrrame {
        transition: transform .2s; /* Animation */
    }

    .gallerybefore img:hover {
        width: 200px;
        height: 200px;
        transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .ifrrame:hover {
        width: 200px;
        height: 200px;
        transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .galleryafter img {
        width: 40px;
        height: 50px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .galleryafter img {
        /*padding: 50px;*/
        transition: transform .2s; /* Animation */
    }

        .galleryafter img:hover {
            width: 200px;
            height: 200px;
            transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

    .gallerybefore {
        display: inline-block;
        position: relative;
    }

        .gallerybefore clss {
            position: absolute;
            top: 0;
            right: 0;
        }

    .galleryafterclose img {
        width: 40px;
        height: 50px;
        padding-right: 10px;
        padding-top: 10px;
    }

        .galleryafterclose img:hover {
            width: 200px;
            height: 200px;
            transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

    gallerybeforeclose img {
        width: 40px;
        height: 50px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .gallerybeforeclose img:hover {
        width: 200px;
        height: 200px;
        transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .clss {
        padding: 15px;
    }

    .cllsbefore {
        padding: 15px;
        margin-right: 180px;
    }
</style>
@using (Html.BeginForm("sendtostudyOrders1", "userhome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="parent" style="margin-top: 100px; background-color: #D3D3D3; border: 1px solid #898889; height: auto; padding: 0 10px 10px">
        @Html.HiddenFor(m => m.id)
        @Html.HiddenFor(m => m.Taqninid)
        @Html.HiddenFor(m => m.BackToVariableCenter)
        <input type="hidden" id="idno1" name="idno1" value="@ViewBag.idno">

        <input type="hidden" id="governate1" name="governate1" value="@ViewBag.governate">
        <input type="hidden" id="studentUser1" name="studentUser1" value="@ViewBag.studentUser">
        <input type="hidden" id="income_no1" name="income_no1" value="@ViewBag.income_no">
        <input type="hidden" id="responsedate1" name="responsedate1" value="@ViewBag.responsedate">
        <input type="hidden" id="activity1" name="activity1" value="@ViewBag.activity">
        <input type="hidden" id="name1" name="name1" value="@ViewBag.name">
        <input type="hidden" id="revieweruser1" name="revieweruser1" value="@ViewBag.revieweruser">
        <input type="hidden" id="geographic_person_response1" name="geographic_person_response1" value="@ViewBag.geographic_person_response">
        <input type="hidden" id="ChangesCenterDescion1" name="ChangesCenterDescion1" value="@ViewBag.ChangesCenterDescion">
        <input type="hidden" id="Delayed1" name="Delayed1" value="@ViewBag.Delayed">
        <input type="hidden" id="LegalFullfied1" name="LegalFullfied1" value="@ViewBag.LegalFullfied">
        <input type="hidden" id="tazalom1" name="tazalom1" value="@ViewBag.tazalom1">
        <input type="hidden" id="Descion2231" name="Descion2231" value="@ViewBag.Descion223">
        <input type="hidden" id="DescionQM1" name="DescionQM1" value="@ViewBag.DescionQM">
        <input type="hidden" id="RaiseSurveyors1" name="RaiseSurveyors1" value="@ViewBag.RaiseSurveyors">
        <input type="hidden" id="fullfilterms1" name="fullfilterms1" value="@ViewBag.fullfilterms">
        <input type="hidden" id="status1" name="status1" value="@ViewBag.status">

        <div class="child1" style="background: rgb(2,33,205);background: linear-gradient(126deg, rgba(2,33,205,1) 0%, rgba(12,31,106,1) 100%, rgba(255,255,255,0.5550595238095238) 100%);width:200px;height:30px">
            <div class="child1" style="background: rgb(2,33,205);
background: linear-gradient(126deg, rgba(2,33,205,1) 0%, rgba(12,31,106,1) 100%, rgba(255,255,255,0.5550595238095238) 100%);width:300px;height:30px;"><span style="color:white;padding-right:20px;font-size:18px;padding-top:20px;margin-top:20px"> دراسه مركز المتغيرات</span></div>
        </div>
        <div class="row" style="margin-bottom: 30px;margin-top: 10px">
            <input type="hidden" value="@Model.ImageBeforeCounter" id="imgbcounter" />
            <input type="hidden" value="@Model.ImageAfterCounter" id="imgAftercounter" />
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.income_no, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px; ">امر الشغل</label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.id_no, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px">رقم الطلب</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="margin-bottom: 30px">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.name, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px; ">اسم مقدم الطلب</label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.governate, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px">المحافظه</label>
                    </div>
                </div>
            </div>


        </div>
        <div class="row" style="margin-bottom: 30px">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.uploaddate, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px">تاريخ يوم الادخال لقواعد البيانات </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.activity, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px; ">نوع النشاط</label>
                    </div>
                </div>
            </div>




        </div>

        <div class="row" style="margin-bottom: 30px">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9">
                        @Html.TextBox("previewdate", Model.PreviewDate, "{0:yyyy-MM-dd}", new { @style = "width:100%", type = "date", @class = "form-control" })
                        @*<input type="date" id="previewdate" name="previewdate" class="form-control" />*@
                    </div>
                    <div class="col-md-3">
                        <label style="color: black;">تاريخ المعاينه</label>
                    </div>
                </div>
            </div>

            @*<div class="col-md-6">
                    <div class="row">

                        <div class="col-md-9">
                            @Html.TextBox("Imagedate", Model.Imagedate, "{0:yyyy-MM-dd}", new { @style = "width:100%", type = "date", @class = "form-control" })
                            <input type="date" name="Imagedate" id="Imagedate" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label style="color: black;">تاريخ الصوره</label>
                        </div>
                    </div>
                </div>*@
        </div>

        <div class="row" style="margin-bottom: 30px">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.unit, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px; ">وحده قياس المساحه المدخله</label>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.area, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px"> المساحه المدخله<span class="text-danger" style="margin-right:10px">*</span> </label>
                    </div>
                </div>
            </div>


        </div>

        <div class="row" style="margin-bottom: 30px">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.InspectionMeasure, new List<SelectListItem>
   { new SelectListItem{Text="None", Value="None",  Selected = true},
     new SelectListItem{Text="م2", Value="م2"},
     new SelectListItem{Text="سهم", Value="سهم"},
     new SelectListItem{Text="قيراط", Value="قيراط"},
     new SelectListItem{Text="فدان", Value="فدان"}
     }, new { @class = "form-control" })
                        @*@Html.DropDownListFor(m => m.InspectionMeasure, new SelectList(Enum.GetValues(typeof(unitenum)),"None"), new { @class = "form-control" })*@
                    </div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px">
                            وحده قياس المساحه من محضر المعاينه
                            <span class="text-danger" style="margin-right:10px">*</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    @if (Model.TaqninData.actualarea == 0)
                    {
                        <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.actualarea, new { @class = "form-control", id = "actualareaa", @value = "" })</div>
                    }
                    else
                    {
                        <div class="col-md-9"> @Html.EditorFor(m => m.TaqninData.actualarea, new { @class = "form-control", id = "actual" })</div>

                    }
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px; ">المساحه الفعليه الموجوده فى محضر المعاينه    <span class="text-danger" style="margin-right:10px">*</span>     </label>
                    </div>
                </div>
            </div>



        </div>

        <div class="row" style="margin-bottom: 30px">
            <div class="col-md-6">
                @*<div class="row">
                        <div class="col-md-9"> @Html.TextBoxFor(m => m.Convertedspace, new { @class = "form-control", @readonly = "readonly" })</div>
                        <div class="col-md-3">
                            <label style="color: black; direction: rtl; margin-top: 10px">المساحه الواقعيه</label>
                        </div>
                    </div>*@
            </div>


            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.Convertedspace, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px">المساحه الواقعيه</label>
                    </div>
                </div>
            </div>


        </div>


        <div class="row" style="margin-bottom: 30px">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.study_note, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px; ">التداخل مع طلب اخر</label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9"> @Html.DropDownListFor(m => m.TaqninData.tazalom, new SelectList(Enum.GetValues(typeof(TaQNIN1.Enums.TazalomEnum)), Model.TaqninData.tazalom), new { @class = "form-control" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px;margin-left:200px">
                            التظلم<span class="text-danger" style="margin-right:10px">*</span>

                        </label>
                    </div>
                </div>
            </div>


        </div>

        <div class="row" style="margin-bottom: 30px">

            <div class="col-md-6 col-sm-offset-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.status, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px; ">حاله الطلب</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style=" ">
                <label style="color: black; direction: rtl; margin-top: 10px;">
                    ملاحظات الدراسه
                    <span class="text-danger" style="margin-right:10px">*</span>
                </label>
            </div>
        </div>

        <div class="row" style="margin-bottom: 30px">

            <div class="col-md-9" style="margin-left:20px;margin-top:-15px">



                @Html.TextAreaFor(m => m.studynotes, new { @class = "form-control txtarea", rows = "6" })



            </div>


        </div>
    </div>


    <div class="parent1" style="margin-top: 30px; background-color: #D3D3D3; height: auto;padding: 0 10px ">

        <div class="child1" style="background: rgb(2,33,205);
background: linear-gradient(126deg, rgba(2,33,205,1) 0%, rgba(12,31,106,1) 100%, rgba(255,255,255,0.5550595238095238) 100%);width:300px;height:30px;"><span style="color:white;padding-right:20px;font-size:18px;padding-top:10px"> دراسه المركز الجغرافي</span></div>
        <div class="row" style="margin-top:20px;">

            <div class="col-md-6 col-sm-offset-6">
                <div class="row">
                    <div class="col-md-9"> @Html.TextBoxFor(m => m.TaqninData.id_no, new { @class = "form-control", @readonly = "readonly" })</div>
                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px">رقم الطلب</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-offset-6" style="margin-top: 30px;margin-bottom:30px">
                <div class="row">
                    <div class="col-md-9">
                        @Html.DropDownList("Geo_person_response", null, new { @class = "form-control", @onchange = "showdiv();", @disabled = "disabled" })
                    </div>


                    <div class="col-md-3">
                        <label style="color: black; direction: rtl; margin-top: 10px">المركز الجغرافي</label>
                    </div>
                </div>
            </div>

        </div>
        @if (Model.geographic_person_response == "داخل")
        {



            <div class="row parentt" style="margin-top:20px;">
                <div class="col-md-6" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-md-9">

                            @Html.RadioButtonFor(x => x.RaiseSurveyors, "كلي", Model.RaiseSurveyors == "كلي")@Html.Label("كلي")
                            @Html.RadioButtonFor(x => x.RaiseSurveyors, "جزئي", Model.RaiseSurveyors == "جزئي")@Html.Label("جزئي")

                        </div>
                        <div class="col-md-3">
                            <span style="font-size: 14px">رفع مساحي</span>
                        </div>
                    </div>

                </div>

                <div class="col-md-6" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-md-9">

                            @Html.RadioButtonFor(x => x.DescionQM, "كلي", Model.DescionQM == " كلي")@Html.Label("كلي")
                            @Html.RadioButtonFor(x => x.DescionQM, "جزئي", Model.DescionQM == " جزئي")@Html.Label("جزئي")

                        </div>
                        <div class="col-md-3">
                            <span style="font-size:14px">ق.م</span>
                        </div>

                    </div>
                </div>

                <div class="col-md-6" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-md-9">
                            @Html.RadioButtonFor(x => x.Descion223, "كلي", Model.Descion223 == " كلي")@Html.Label("كلي")

                            @Html.RadioButtonFor(x => x.Descion223, "جزئي", Model.Descion223 == " جزئي")@Html.Label("جزئي")
                        </div>
                        <div class="col-md-3">
                            <span style="font-size: 14px">قرار223</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-md-9">
                            @Html.RadioButtonFor(x => x.Overlap_after_range, "كلي", Model.Overlap_after_range == " كلي")@Html.Label("كلي")
                            @Html.RadioButtonFor(x => x.Overlap_after_range, "جزئي", Model.Overlap_after_range == " جزئي")@Html.Label("جزئي")

                        </div>
                        <div class="col-md-3">
                            <span style="font-size:14px">التداخل بعد النطاق</span>
                        </div>

                    </div>
                </div>
            </div>


        }






    </div>





    <div class="parent2" style="margin-top: 30px; background-color: #D3D3D3; height: auto">

        <div class="child1" style="background: rgb(2,33,205);
background: linear-gradient(126deg, rgba(2,33,205,1) 0%, rgba(12,31,106,1) 100%, rgba(255,255,255,0.5550595238095238) 100%);width:300px;height:30px;"><span style="color:white;padding-right:20px;font-size:18px;padding-top:10px">  المرفقات والصور</span></div>

        <div class="row" style="margin-top:40px;padding: 10px">
            <div class="col-md-4" style="padding-right:50px">
                <label for="Documents" class="custom-file-upload" style="background-color:#0097BA;color:white;margin-right:40px">
                    محضر المعاينه
                </label>
                <input id="Documents" type="file" name="Documents" class="Documents" multiple accept=".pdf" onchange="previewfile();" />

            </div>

            <div class="col-md-4" style="padding-right:50px">
                <label for="ImageAfter" class="custom-file-upload" style="background-color:#0097BA;color:white;margin-right:20px">
                    الصور بعد القانون
                </label>
                <input type="file" name="ImageAfter" id="ImageAfter" multiple accept=".png, .jpg, .jpeg" onchange="showimageafter();" />
                @*<input type="hidden" id="beforenum" value="@Model.ImageBeforeCounter" />*@
            </div>
            <div class="col-md-4">
                <label for="file-upload" class="custom-file-upload" style="background-color:#0097BA;color:white;margin-right:60px">
                    الصور قبل القانون
                </label>
                <input id="file-upload" name="ImageBefore" type="file" multiple accept=".png, .jpg, .jpeg" class="form-control" onchange="showimage();" />
            </div>


        </div>

        <div class="row" style="margin-top:0px;padding: 10px">
            <div class="col-md-4">

                @*<div class="documents">
                        <iframe src=""  id="iframe-pdf" style="width:300px;height:200px;margin-right:-100px"></iframe>
                    </div>*@
            </div>
            <div class="col-md-4" style="padding-right:50px;">

                <div class="galleryafter" id="galleryafter" style="margin-right:20px">

                </div>
            </div>

            <div class="col-md-4" style="padding-right:50px;">

                <div id="gallerybefore" class="gallerybefore" style="margin-right:20px">

                </div>
            </div>



            <div class="gallery">

            </div>


        </div>

        <div class="row " style="margin-top:-20px;padding: 10px">
            <div class="col-md-4">

                <div class="documentss">
                    <iframe src="" class="ifrrame" id="iframe-pdf" style="width:300px;height:200px;margin-right:-100px;margin-top:-20px"></iframe>
                    @if (Model.BackToVariableCenter != 0)
                    {
                        <iframe src="@Url.Action("GetReport", "userhome", new { id = Model.TaqninData.Taqninid })" id="iframe-pdf1" class="ifrrame" style="width:300px;height:200px;margin-right:-100px;margin-top:-20px"></iframe>
                    }
                </div>
            </div>
            <div class="col-md-4" style="padding-right:50px">

                <div class="galleryafterclose" id="galleryafterclose" style="margin-right:0px;margin-top:-30px">
                    @if (Model.ImageAfterCounter != 0)
                    {
                        for (int i = 0; i < Model.ImageAfterCounter; i++)
                        {
                            <img style="" src='@Url.Action("ShowImages", "userhome", new { id = Model.Taqninid, counter = i, type = "After", incomeno=Model.TaqninData.income_no  })' />


                        }
                    }

                </div>
            </div>

            <div class="col-md-4" style="padding-right:50px">

                <div id="gallerybeforeclose" class="gallerybefore" style="margin-right:0px;margin-top:-30px">
                    @if (Model.ImageBeforeCounter != 0)
                    {
                        for (int i = 0; i < Model.ImageBeforeCounter; i++)
                        {

                            <img style="" src='@Url.Action("ShowImages", "userhome", new { id = Model.Taqninid, counter = i, type = "Before", incomeno=Model.TaqninData.income_no })' />


                        }
                    }

                </div>
            </div>





        </div>

    </div>
    <div class="parent3" style="margin-top: 30px; background-color: #D3D3D3; height: 320px">

        <div class="child1" style="background: rgb(2,33,205);
background: linear-gradient(126deg, rgba(2,33,205,1) 0%, rgba(12,31,106,1) 100%, rgba(255,255,255,0.5550595238095238) 100%);width:300px;height:30px;"><span style="color:white;padding-right:20px;font-size:18px;padding-top:10px"> قرار مركز المتغيرات</span></div>
        <div class="row" style="margin-left:600px;margin-top:20px;">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6  ">

                        @Html.DropDownListFor(M => M.ChangesCenterDescion, new SelectList(Enum.GetValues(typeof(TaQNIN1.Enums.ChangesCenterDescionEnum))), "None", new { @class = "form-control", @onchange = "descion()" })


                    </div>
                    <div class="col-md-6">
                        <label style="color: black; direction: rtl; margin-top: 10px">قرار مركز المتغيرات</label><span class="text-danger" style="margin-right:10px">*</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="Notfulfilled" style="margin-top:40px; margin-left:80px;">
            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-4 ">
                                @Html.CheckBoxFor(m => m.landspace)
                            </div>
                            <div class="col-md-8  ">
                                @Html.Label("ارض فضاء")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-4  ">
                                @Html.CheckBoxFor(m => m.D223AndQM)
                            </div>
                            <div class="col-md-8 ">
                                <label>تداخل ق.م - قرار223</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div id="insideshow">


            <div class="row" style="margin-top:20px;">

                <div class="col-md-5" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-md-9">

                            @Html.RadioButtonFor(x => x.AreaFullfied, "كلي", Model.AreaFullfied == "كلي")@Html.Label("كلي")
                            @Html.RadioButtonFor(x => x.AreaFullfied, "جزئي", Model.AreaFullfied == "جزئي")@Html.Label("جزئي")

                        </div>
                        <div class="col-md-3">
                            <span style="font-size:14px;font-weight: bold">المساحه</span>
                        </div>

                    </div>
                </div>

                <div class="col-md-5" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-md-9">

                            @Html.RadioButtonFor(x => x.LegalFullfied, "قبل القانون", Model.LegalFullfied == "قبل القانون")@Html.Label("قبل القانون")
                            @Html.RadioButtonFor(x => x.LegalFullfied, "بعد القانون", Model.LegalFullfied == "بعد القانون")@Html.Label("بعد القانون")

                        </div>
                        <div class="col-md-3">
                            <span style="font-size: 14px;font-weight: bold">القانونيه</span>
                        </div>
                    </div>

                </div>



            </div>
        </div>


        <div id="Notaudited" style="margin-top:20px;">


            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-4 ">
                                @Html.CheckBoxFor(m => m.Spaceaudit)
                            </div>
                            <div class="col-md-8  ">
                                @Html.Label("تدقيق المساحه")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-4  ">
                                @Html.CheckBoxFor(m => m.NotauditedActivity)
                            </div>
                            <div class="col-md-8 ">
                                <label>تدقيق نوع النشاط</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-4 ">
                                @Html.CheckBoxFor(m => m.NotEnteringCoordinates)
                            </div>
                            <div class="col-md-8  ">
                                @Html.Label("عدم إدخال الاحداثيات طبقاً لمحضر المعاينة")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-4  ">
                                @Html.CheckBoxFor(m => m.Surveyingliftauditing)
                            </div>
                            <div class="col-md-8 ">
                                <label>تدقيق الرفع المساحي</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-4 ">
                                @Html.CheckBoxFor(m => m.NoAttachments)
                            </div>
                            <div class="col-md-8  ">
                                @Html.Label("لا يوجد مرفقات")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-4  ">
                                @Html.CheckBoxFor(m => m.NotApplicableCoordinates)
                            </div>
                            <div class="col-md-8 ">
                                <label>تدقيق الرفع المساحي عدم انطباق الاحداثيات مع وصف محضر المعاينة/ مع وصف الكروكي</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="parent4" style="margin-top: 30px; background-color: #D3D3D3; height: 800px">

        <div class="child1" style="background: rgb(2,33,205);
background: linear-gradient(126deg, rgba(2,33,205,1) 0%, rgba(12,31,106,1) 100%, rgba(255,255,255,0.5550595238095238) 100%);width:300px;height:30px;"><span style="color:white;padding-right:20px;font-size:18px;padding-top:10px">ملاحظات</span></div>
        <div class="row" style="margin-left:600px;margin-top:20px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6  ">

                        @Html.TextAreaFor(m => m.ReviewerNotes, new { @class = "form-control tarea", @readonly = "readonly" })


                    </div>
                    <div class="col-md-6">
                        <label style="color: black; direction: rtl; margin-top: 10px">ملاحظات القائم بالمراجعة</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:600px;margin-top:40px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6  ">

                        @Html.TextAreaFor(m => m.RecoveryDepartmentNotes, new { @class = "form-control tarea", @readonly = "readonly" })


                    </div>
                    <div class="col-md-6">
                        <label style="color: black; direction: rtl; margin-top: 10px">ملاحظات رئيس قسم استرداد أراضي الدولة</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-left:600px;margin-top:40px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6  ">

                        @Html.TextAreaFor(m => m.PoineerNotes, new { @class = "form-control tarea", @readonly = "readonly" })


                    </div>
                    <div class="col-md-6">
                        <label style="color: black; direction: rtl; margin-top: 10px">ملاحظات قائد مركز المتغيرات</label>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="margin-left:600px;margin-top:40px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6  ">

                        @Html.TextAreaFor(m => m.MilitarySurveyDepartmentNotes, new { @class = "form-control tarea", @readonly = "readonly" })


                    </div>
                    <div class="col-md-6">
                        <label style="color: black; direction: rtl; margin-top: 10px">ملاحظات السيد مدير ادارة المساحة العسكريه</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left:600px;margin-top:40px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6  ">

                        @Html.TextAreaFor(m => m.ResponseNotes, new { @class = "form-control tarea", @readonly = "readonly" })


                    </div>
                    <div class="col-md-6">
                        <label style="color: black; direction: rtl; margin-top: 10px">ملاحظات الرد</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left:600px;margin-top:40px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6  ">

                        @Html.TextBoxFor(m => m.person_upload, new { @class = "form-control", @readonly = "readonly" })


                    </div>
                    <div class="col-md-6">
                        <label style="color: black; direction: rtl; margin-top: 10px">اسم المستخدم</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <input type="submit" value="حفظ" onclick="return requireddata();" name="buttonaction" class=" btn btn-info" style="font-weight: bold; float: left; width: 180px; margin-left: 20px; margin-top: 10px;" />
    <input type="submit" value="ارسال للطلبات المؤجله" class="btn btn-danger" name="buttonaction" style="font-weight: bold; background-color: red; float: left; margin-left: 20px ;margin-top:10px ;width: 180px" />
}
@*<div style="margin-left:-90px;margin-top:30px;">
        @Html.ActionLink("ارسال للطلبات المؤجله", "userhome", "Suspendorderss")
    </div>*@

@*<div style="margin-left:-90px;margin-top:30px;">
        @Html.ActionLink("رجوع", "userhome", "Account")
    </div>*@

<script>
    //$(document).on('keypress', function (e) {
    //    debugger;
    //    if (e.which == 13) {
    //        if ($("#ChangesCenterDescion").val() == "مستوفي") {
    //            if ($('input[name="LegalFullfied"]:checked').val() == undefined) {
    //                alert("يجب ادخال القانونيه");
    //                return false;
    //            }
    //            else if ($('input[name="AreaFullfied"]:checked').val() == undefined) {
    //                debugger;

    //                alert("يجب ادخال المساحه");
    //                return false;
    //            }
    //        }
    //        else if ($("#actual").val() == "" || $("#actualareaa").val() == "") {
    //            debugger;

    //            alert("يجب ادخال المساحه الفعليه");
    //            return false;
    //        }
    //        else if ($("#studynotes").val().trim() == "") {

    //            alert("يجب ادخال ملاحظات الدراسه")
    //            return false;
    //        }
    //        else if ($("#InspectionMeasure").val().trim() == "None") {
    //            debugger;

    //            alert("يجب ادخال وحده قياس المساحه من محضر المعاينه ");
    //            return false;
    //        }

    //            //else if ($("#Imagedate").val().trim() == "") {

    //            //    alert("يجب ادخال تاريخ الصوره")
    //            //    return false;
    //            //}

    //            //else if ($("#previewdate").val().trim() == "") {

    //            //    alert("يجب ادخال تاريخ المعاينه")
    //            //    return false;
    //            //}
    //        else if ($("#ChangesCenterDescion").val() == null || $("#ChangesCenterDescion").val() == "") {
    //            alert("يجب ادخال قرار مركز المتغيرات")
    //            return false;

    //        }
    //    }
    //});


    $('span.file-delete').click(function(){
        let name = $(this).next('span.name').text();
        // Supprimer l'affichage du nom de fichier
        $(this).parent().remove();
        for(let i = 0; i < dt.items.length; i++){
            // Correspondance du fichier et du nom
            if(name === dt.items[i].getAsFile().name){
                // Suppression du fichier dans l'objet DataTransfer
                dt.items.remove(i);
                continue;
            }
        }
        // Mise à jour des fichiers de l'input file après suppression
        document.getElementById('attachment').files = dt.files;
    });

    //function clllick(event) {
    //    debugger;
    //    //alert(event.data.param1);
    //    $("#" + event.data.param1).remove();
    //    $("#" + event.data.param2).remove();
    //    $("#" + event.data.param3).remove();
    //    //$("#icn_3").remove();
    //    //var d = $('input:file#file-upload')[0].files;
    //    //var newFileList = Array.from(d);
    //    //var index = event.data.param1.split('_');
    //    //var y = index[1];
    //    //newFileList.splice(y, 1);
    //    //$('input:file#file-upload').val('');
    //    //for(var i=0;i<newFileList.lenght;i++){
    //    //    $('input:file#file-upload').files = newFileList.files

    //    //}
    //    var images = $('.gallerybefore').children('img').map(function () {
    //        return $(this).attr('name')
    //    }).get()
    //    $("#imagesbeforeNames").val(images);
    //}
    //function clllickb(event) {
    //    debugger;
    //    //alert(event.data.param1);
    //    $("#" + event.data.param1).remove();
    //    $("#" + event.data.param2).remove();
    //    $("#" + event.data.param3).remove();
    //    //$("#icn_3").remove();
    //    //var d = $('input:file#file-upload')[0].files;



    //    //var newFileList = Array.from(d);

    //    //var index = event.data.param1.split('_');
    //    //var y = index[1];
    //    //newFileList=  newFileList.splice(y, 1);
    //    ////$('input:file#file-upload').val('');
    //    //$('input:file#file-upload').val('');
    //    //for (var i = 0; i <= newFileList.length; i++) {
    //    //    $('input:file#file-upload').files[i] .val( newFileList[i]);

    //    //}
    //    //var daata = $('input:file#file-upload')[0].files;
    //    var images = $('.gallerybefore').children('img').map(function () {
    //        return $(this).attr('name')
    //    }).get();
    //    $("#imagesbeforeNames").val(images);
    //}


    function showimage() {

        debugger;
        //$("#file-upload").show();
        //$("#gallerybefore").empty();
        //$("#gallerybefore").show();
        $("#gallerybeforeclose").empty();
        var total_file = document.getElementById("file-upload").files.length;
        var total_file1 = document.getElementById("file-upload").files;
        var counter = 0;

        for (var i = 0; i < total_file; i++) {

            $('#gallerybeforeclose').append("<img src='" + URL.createObjectURL(event.target.files[i]) + "'   >");

        }
        //var images = $('.thumbnailArrows').children('img').map(function () {
        //    return $(this).attr('src')
        //}).get()
    }



    function showimageafter() {
        debugger;
        $("#galleryafterclose").empty();

        var counter = 0;
        var total_file = document.getElementById("ImageAfter").files.length;


        for (var i = 0; i < total_file; i++) {
            var idclss = "icnclss" + "_" + counter.toString();
            var idd = "img"+"_" + counter.toString();

            $('#galleryafterclose').append("<img src='" + URL.createObjectURL(event.target.files[i]) + "'   >");

            counter++;
        }


    }


    $(document).ready(function () {
        'use strict';
        //$("#actualarea").val('');
        //$("#actual").val("");
        $("#actualareaa").val("");

        $('#actual').addClass("form-control");
        $('.parent1 input[type="radio"]').attr('disabled', true);
        //        editor.add( {
        //            name: 'newField',

        //} );
        $('.single-line').addClass("form-control");

        //editor.field('TaqninData.actualarea').input().addClass('form-control');
        //$('.parent1 input[name="AcceptOrNot"]:checked').next().css('border', '1px solid red');
        descion();
        $('.documents').hide();
        @*if ($("#imgbcounter").val() != 0) {
            for (var count = 0; count < parseInt( $("#imgbcounter").val()) ; count++) {
                var img = $('<img id="dynamic">'); //Equivalent: $(document.createElement('img'))
                img.attr('src', '@Url.Action("ShowImagesbeffore", "userhome", new { id =@Model.Taqninid, counter = count, type = "Before", incomeno = @Model.TaqninData.income_no })
                   Viewbag.imagebefore=
               img.appendTo('#imagediv');
            }*@

            //}
            //$("#Documents").hide();
            //$("#gallerybefore").hide();
            //$("#galleryafter").hide();
        $("#galleryafterclose").show();
            $("#gallerybeforeclose").show();
            $("#documentss").show();
            $('#iframe-pdf1').show();
            $('#iframe-pdf').hide();
            $('.parentt input[name="RaiseSurveyors"]:checked').next().css('border', '1px solid red');
            $('.parentt input[name="DescionQM"]:checked').next().css('border', '1px solid red');
            $('.parentt input[name="Descion223"]:checked').next().css('border', '1px solid red');
            $('.parentt input[name="Overlap_after_range"]:checked').next().css('border', '1px solid red');


        });


        //$(function () {
        //    // Multiple images preview in browser
        //    var imagesPreview = function (input, placeToInsertImagePreview) {
        //        debugger;
        //        if (input.files) {
        //            var filesAmount = input.files.length;

        //            for (i = 0; i < filesAmount; i++) {
        //                var reader = new FileReader();

        //                reader.onload = function (event) {
        //                    $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
        //                    //var url = $(this).attr('target', '_blank');


        //                }

        //                var image = new Image();
        //                image.src = input.files[0];

        //                var w = window.open("");
        //                w.document.write(input.files[i]);

        //                reader.readAsDataURL(input.files[i]);
        //            }
        //        }

        //    };

        //$('#ImageBefore').on('change', function () {
        //    debugger;


        //    sessionStorage.setItem("before", this);
        //    window.open('/userhome/ShowStudyImages', '_blank');
        //});

        //function sendimages() {
        //    debugger;
        //    var data = $("#ImageBefore").files.length;
        //}
        function requireddata() {
            debugger;
            //if ($("#Documents").val() == '' && $('#iframe').is(':empty')) {

            //    // your validation error action
            //    alert("يجب ادخال محضر المعاينه");
            //    return false;

            //}

            //if ($("#file-upload").val() == '' && $('#gallerybeforeclose').is(':empty')) {

            //    // your validation error action
            //    alert("يجب ادخال الصور قبل القانون");
            //    return false;

            //}

            //if ($("#file-ImageAfter").val() == '' && $('#galleryafterclose').is(':empty')) {

            //    // your validation error action
            //    alert("يجب ادخال الصور بعد القانون");
            //    return false;

            //}

            if ($("#ChangesCenterDescion").val() == "مستوفي") {
                if ($('input[name="LegalFullfied"]:checked').val() == undefined) {
                    alert("يجب ادخال القانونيه");
                    return false;
                }
                else if ($('input[name="AreaFullfied"]:checked').val() == undefined) {
                    debugger;

                    alert("يجب ادخال المساحه");
                    return false;
                }
            }
            else if ($("#actual").val() == "" || $("#actualareaa").val()=="") {
                debugger;

                alert("يجب ادخال المساحه الفعليه");
                return false;
            }
            else if ($("#studynotes").val().trim() == "") {

                alert("يجب ادخال ملاحظات الدراسه")
                return false;
            }
            else if ($("#InspectionMeasure").val().trim() == "None") {
                debugger;

                alert("يجب ادخال وحده قياس المساحه من محضر المعاينه ");
                return false;
            }

                //else if ($("#Imagedate").val().trim() == "") {

                //    alert("يجب ادخال تاريخ الصوره")
                //    return false;
                //}

                //else if ($("#previewdate").val().trim() == "") {

                //    alert("يجب ادخال تاريخ المعاينه")
                //    return false;
                //}
            else if ($("#ChangesCenterDescion").val() == null || $("#ChangesCenterDescion").val()=="")
            {
                alert("يجب ادخال قرار مركز المتغيرات")
                return false;

            }

        }


        function showdiv() {
            debugger;
            if ($("#Geo_person_response").val() == "داخل") {
                $("#insideshow").show();
                //$('.insideshow').css('visibility', 'visible');
            }
            else
                $("#insideshow").hide();


        }

        function descion() {

            debugger;
            if ($("#ChangesCenterDescion").val() == "غيرمدقق") {
                $("#Notaudited").show();
                $("#Notfulfilled").hide();
                $("#insideshow").hide();
            }
            else if ($("#ChangesCenterDescion").val() == "غيرمستوفي") {
                $("#insideshow").hide();
                $("#Notaudited").hide();
                $("#Notfulfilled").show();

            }
            else if ($("#ChangesCenterDescion").val() == "مستوفي") {
                $("#insideshow").show();
                $("#Notaudited").hide();
                $("#Notfulfilled").hide();
            }
            else {
                $("#Notaudited").hide();
                $("#Notfulfilled").hide();
                $("#insideshow").hide();
            }
        }



        function previewfile() {
            debugger;
            //$('.documentss').empty();
            $('#iframe-pdf1').remove();
            $('#iframe-pdf').show();


            const preview = document.querySelector('iframe');
            const file = document.querySelector('[name="Documents"]').files[0];
            const reader = new FileReader();
            var filename = file.name;

            reader.addEventListener("load", function () {
                // convert file to base64 string
                preview.src = reader.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }

        }

</script>
