@{
    ViewBag.Title = "دراسه و رد";
    Layout = "~/Views/Shared/_layout2.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">


<img src="~/img/header1.PNG" style="height: 70px; width:1865px; margin-bottom: 30px;margin-top:100px" />
<div class=" row">

    <div class="col-sm-2 ">


        <a href="@Url.Action("Variables_center_decision", "userhome")" target="_blank">
            <img src="~/img/variablecenter.png" style="margin-right:-20px" />
        </a>
    </div>




    <div class="col-sm-2 ">


        <a href="@Url.Action("ResponseDescion", "userhome")" target="_blank">
            <img src="~/img/response.png" style="margin-right:-10px" />
        </a>
    </div>




    <div class="col-sm-2 ">


        <a href="@Url.Action("exceldata", "userhome")" target="_blank">
            <img src="~/img/export.png" style="margin-right:-5px" />
        </a>
    </div>

  



    <div class="col-sm-2 ">


        <a href="@Url.Action("Search", "userhome")" target="_blank">
            <img src="~/img/search.png" style="margin-right:-15px" />
        </a>
    </div>

    <div class="col-sm-2 ">


        <a href="@Url.Action("archive", "userhome")" target="_blank">
            <img src="~/img/archive.png" style="margin-right:-20px" />
        </a>
    </div>
</div>
<img src="~/img/bt.PNG" style="height:30px; width:1870px;margin-bottom: 30px;margin-top:20px" />

    <style > a:hover {
        text-decoration: none;
        color: #546C66;
    }

    a:active {
        text-decoration: none;
        color: #546C66;
    }
</style>
