@using Microsoft.AspNet.Identity
@model TaQNIN1.Models.ManageUserViewModel

@*<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>*@
<div style="margin-top:180px;">
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
      
      @Html.Hidden("username",  (string)ViewBag.Property1)

        @Html.AntiForgeryToken()
        <h4 class="text-center">تعديل الرقم السري</h4>
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">

            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            @Html.Label("الرقم السري القديم", new { @class = "col-md-2 control-label" })
        </div>
        <div class="form-group">

            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            @Html.Label("الرقم السري الجديد", new { @class = "col-md-2 control-label" })
        </div>
        <div class="form-group">

            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            @Html.Label("تأكيد الرقم السري", new { @class = "col-md-2 control-label" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-success" style="margin-right:1100px" />
            </div>
        </div>
    }
</div>